<!DOCTYPE html>
<html>
    <head>
        <title>CoverMeNot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="container">
        <div class="toggle-button" id="toggle-button">
            <span>💡</span>
        </div>
        <div id="keywords-container"></div>

        <div id="modal-container" class="modal">
            <div class="modal-content">
              <span class="close-button" id="close-button">×</span>
              <h2>Keywords Dictionary</h2>
              <ul id="keywords-list"></ul>
            </div>
          </div>

          
        <div class="title">
            <h1>CoverMeNot</h1>
        </div>
        <div class="start-button">
            <button id="start-button">Let's Start, Shall We? 😎</button>
        </div>
        <div class="footer">
            <span>by Vivek D</span>
        </div>
        <!-- Add the button for your feature here -->
        <div class="bottom-left-button">
            <button id="view-keywords-button" class="view-keywords-button">View Keywords Dictionary</button>
        </div>
        
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


